body {
    max-width: 1200px;
    text-align: center;
    
}

#banner {
    display: flex;
    justify-content: center;
}

#libraryContainer {
    display: flex;
    flex-flow: column-reverse wrap;
    justify-items: flex-end;
    align-content: flex-start;
    height: 500px;
    max-width: 1200px;
    color: wheat;
}

#input {
    order: 1;
}

.book {
    display: flex;
    flex-flow: row;
    margin-right: 20px;
    border: 5px solid rgb(32, 16, 7);
    background-color:rgb(71, 36, 16);
    height: 100px;
    width: 600px;
}

.book-left {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: flex-end;
    flex: 4;
}

.book-right {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-content: space-around;
    flex: 1;
}

* {
    /*box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;*/
}