body {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    text-align: center;
}

#banner {
    max-width: 100%;
}

#libraryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    background-color: red;
    height: 300px;
    width: 300px;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}